.toolbar {
  position:absolute;
  top:0;
  left:0;
  list-style-type:none;
  margin:0;
  padding:0;
  z-index:2;
  &-item {
    width: 20px;
    height: 20px;
    padding: 5px;
    box-sizing: content-box;
    border: solid 1px #595959;
    cursor:pointer;

    &:hover, &.is-active {
      background: #29d390;
    }
  }
}

.floating-prop {
  position:absolute;
  top:10px;
  right:10px;
  background:#3a3a3a;
  color: #fefefe;
  padding:10px;
  z-index:3;
}
