.text-node {
  display: none;
  list-style: none;
  padding: 5px;
  padding-left: 20px;
  background: #494949;

  &--unfolded {
    display: block;
  }

  &__fold-button {
    cursor: default;
    color: #fefefe;

    &:hover {
      color: mix(black, #fefefe, 20%);
    }

    &--highlighted {
      color: #29d390;
      background-color: mix(#29d390, #494949, 20%);

      &:hover {
        color: mix(black, #fefefe, 20%);
      }
    }
  }

  &__item {
    display: inline-block;
  }

  &__property {
    &-name {
      width: 70px;
      display: inline-block;
      text-align: right;
      padding-right: 5px;
    }
    &-name:after {
      content: ': ';
    }

    // a copy of that subselector is found in &__param
    &-formula--invalid {
      box-shadow: 0 0 4px red;
    }

    // a copy of that subselector is found in &__param
    &-formula--invalid:focus {
      outline: 0;
      box-shadow: 0 0 6px red;
    }

    &-input {
      border-width: 0;
    }

    &-value--text {
      width: 5rem;
    }

    &-result--text {
      width: 5rem;
    }
  }

  &__param {
    // a copy of that subselector is found in &__property
    &-formula--invalid {
      box-shadow: 0 0 4px red;
    }

    // a copy of that subselector is found in &__property
    &-formula--invalid:focus {
      outline: 0;
      box-shadow: 0 0 6px red;
    }
  }
}
