.text-node {
  display: none;
  list-style: none;

  &--unfolded {
    display: block;
  }

  &__fold-button {
    cursor: default;
  }

  &__property {

  }

  &__property-name:after {
    content: ': ';
  }

  &__property-input {
    border-width: 0;
  }
}
