.text-node {
  display: none;
  list-style: none;

  &--unfolded {
    display: block;
  }

  &__fold-button {
    cursor: default;
  }

  &__property {

  }

  &__property-name:after {
    content: ': ';
  }

  &__property-formula--invalid {
    box-shadow: 0 0 2px red;
  }

  &__property-formula--invalid:focus {
    outline: 0;
    box-shadow: 0 0 4px red;
  }

  &__property-input {
    border-width: 0;
  }
}
