{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "mocha"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "global-strict": 0,
    "no-underscore-dangle": 0,
    "no-console": "warn",
    "no-alert": "warn",
    "no-unused-vars": "warn",
    "no-trailing-spaces": ["error"],
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
		"mocha/no-exclusive-tests": "error",
    "consistent-return": "error",
    "curly": "error",
    "default-case": "error",
    "dot-notation": "warn",
    "eqeqeq": ["error", "smart"],
    "no-extra-bind": "error",
    "no-loop-func": "warn",
    "no-param-reassign": "warn",
    "no-proto": "error",
    "no-unused-expressions": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-unmodified-loop-condition": "error",
    "no-useless-call": "error",
    "no-useless-concat": "error",
    "no-useless-escape": "error",

    "comma-dangle": ["error", "always-multiline"],
    "quotes": [ "error", "single" ],
    "brace-style": [ "error", "stroustrup", { "allowSingleLine": true } ],
    "camelcase": ["error", {properties: "always"}]
  },
  "globals": {
    expect: false
  }
}
