/* Base Application Styles */
body {
  /*color: #fff;
  background: #222;*/
}

input:invalid {
  box-shadow: 0 0 4px red;
}

input[type="number"] {
  width: 7rem;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

button, input, optgroup, select, textarea {
  color: #29d390;
  background: white;
  outline: none;
  border: solid 1px #29d390;
  border-radius: 3px;
  margin: 3px;
}

button:hover {
  background: #29d390;
  color: #fefefe;
}

.left-panel {
  background: #3a3a3a;
  color: #fefefe;
  border-right: solid 1px black;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
