.glyphList {
  $black: #3a3a3a;
  $grey: lighten($black, 50%);
  $green: #24d390;
  position: relative;
  display: block;

  .category {
    background-color: $green;
    width: 120px;
    text-align: center;
    margin-top: 10px;
    margin-left: -1px;
    padding: 5px;
    color: white;
    border: 1px solid black;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;

    span {
      display: block;
      float: right;
    }

    &.folded {
      span {
        transform: rotate(180deg);
      }
    }
  }

  .glyphs {
    display: flex;
    flex-flow: row wrap;
    align-items: left;
    justify-content: left;
    color: $grey;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: -2px;
    margin-left: -2px;
    height: 100%;

    &.folded {
      height: auto;
      display: none;
    }

    .glyph {
      width: 6.50%;
      height: 85px;
      line-height: 80px;
      outline: 2px solid black;
      margin-top: 2px;
      margin-left: 2px;
      cursor: pointer;

      &:hover {
        background: #fafafa;
        color: $green;
      }
    }
  }
}
