.contour {
  fill:transparent;
  stroke:black;
  stroke-width:2px;

  &.is-closed {
    fill:black;
  }
}

.bbox {
  fill:transparent;
  stroke: #595959;
  stroke-width: 1px;
}

.contour-point {
  stroke: #24d390;
  fill:white;
  &.is-hovered {
    fill: #24d390;
  }

}

.state-indicator {
  fill: transparent;
  stroke: red;
  stroke-width: 3px;

  &-circle {
    fill:red;
  }
}

.selector-container {

}

.transparent-selector {
  fill: transparent;
  stroke: transparent;
  cursor:pointer;
}

.control-point {
  stroke: #0063d3;
  fill:white;

  &.is-hovered {
    fill: #0063d3;
  }
}

.point-control {
  stroke: #24d390;
  stroke-width: 3px;
}

.path-indicator {
  fill:transparent;
  stroke: green;
  stroke-width: 1px;
}

.background-image {
  position:absolute;
  z-index:0;
  opacity: .5;
}

svg {
  position:relative;
  z-index:1;
}
